.movie-card {
    background-color: var(--card-bg-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.541);
    margin: 5px;
    width: 300px;
    overflow: hidden;
}

.movie-info{
    padding: 5px;
    box-sizing: border-box;
    z-index: 2;
}

.reco-button {
    background-color: #f81f32;
    padding: 15px 32px;
    border:none;
    margin: 0, auto;
    color:#fefefe;
    text-align: center;
    display: inline-block;
    font-size: 15px;
    cursor: pointer;
}