/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/*CSS colors*/
:root {
    --main-bg-color: grey;
    --main-txt-color: blue;
}


body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
}
