/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


/*CSS colors*/
:root {
    --main-bg-color: #222;
    --main-txt-color:#e6e6e6;
    --card-bg-color: #444444;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Roboto';
    background-color: var(--main-bg-color);
    color: var(--main-txt-color);
    
}
